
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Lato:wght@400;700&family=Open+Sans&family=Poppins:ital,wght@0,400;0,600;1,300&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Arvo:ital,wght@1,700&family=DM+Serif+Display:ital@0;1&family=PT+Serif:ital,wght@1,700&family=Racing+Sans+One&family=Roboto:ital,wght@0,100;0,400;1,300;1,400&family=Yeseva+One&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.nav-item a{
    font-size:18px;
    margin-left: 20px;
    font-family: 'Poppins';
    font-weight: 1000;
    color: black;
  }
  ul .nav-item .nav-link{
    position: relative;
    left: 20px;
  }
  .col h2{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 1000;
    font-display: swap;
    position: relative;
    right:  13px;
    
}
 .col .card {
  border-radius: 12px;
}

.main-heading h1{
    text-align: center;
    margin-top:55px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 1000;
}
.container .row{
    position: relative;
    top: 6.5px;
    right: 35px;
    
}
.position-absolute h2{
    font-size: 50px;
    letter-spacing: 1.5px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 1000;
    font-display: swap;
    margin-bottom: 20px;
  }
  .position-absolute h5{
    color: white;
    font-size:20px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    margin-bottom: 25px;
  }
  .position-absolute .text{
    font-size: 15px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 1000;
    font-display: swap;
  }
  .container-fluid{
    margin-top: 70px;
  }
.card-body h5{
  color: rgb(57, 51, 51);
  font-size:20px;
    font-family: 'roboto';
    font-style: normal;
    font-weight: 1000;
    font-display: swap;
    margin-top: 15px;
}
.card-body p{
  font-size: 15px;
  font-family: 'poppins';
  font-style: normal;
  margin-top: 10px;
  line-height: 1.8;
}
.card-body .text{
    font-size: 15px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 1000;
    font-display: swap;
}
.section-tittle .text{
  font-size: 15px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 1000;
  font-display: swap;
}

.rating img{
  width: 17px;
  height:17px;
}
.rating{
  margin-bottom: 20px;
}
.topic-img h3{
color: white;
}

.overlay {
  position: absolute;
  top: 0;
  left: 7%;
  width:86.5%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
  opacity: 0;
  transition: opacity 0.3s;

}

.single-topic:hover .overlay {
  opacity: 1;
}

li a{
  text-decoration: none;
}
.tags{
  display: flex;
  flex-direction: row;
 gap:200px;
}
#image-2{
  display: none;
}
/*button*/

.button-48 {
  padding: 1em 2em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  letter-spacing:2px;
  text-transform: uppercase;
  color: #2c9caf;
  transition: all 1000ms;
  font-size: 15px;
  position: relative;
  overflow: hidden;
  outline: 1px solid #b1bbbd;
  background-color: white;
}

.button-48:hover {
  color: #ffffff;
  transform: scale(1.01);
  outline: 1px solid #b8c6c9;

}

.button-48::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: rgb(211, 48, 48);
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.button-48:hover::before {
  width: 250%;
}

@media screen and (max-width: 500px) {
  .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width:100%;
  }
  .single-topic .topic-img img{
    width:95%;
   
  }
  .tags{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 40px;
  }
  .col{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .col .card{
    width:95%;
   
  }
  .container .row{
    position: relative;
    left:32px;
  }
  .col-auto img{
    width: 25px;
    height: 25px;
  }
  .container{
    position: relative;
    right:5%;
  }
   #image-1{
    display: none;
  }
 #image-2{
display: block;
  }
  .position-absolute h2{
    font-size: 30px;
    letter-spacing: 1.5px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 1000;
    font-display: swap;
    margin-bottom:28px;
  }
  .position-absolute h5{
    color: white;
    font-size:17px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    margin-bottom: 28px;
  }
  .button-48 {
    padding: 1em 1em;
    font-size: 12px;
}
}